*{
    margin: 0;
    padding: 0;
}
.nav{ 
    display:flex;
    background-color:darkviolet;
    justify-content:space-between;
    align-items: center;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

.company{
    font-family: cursive; 
    font-size: 1cm;
    color: white;
    padding-left: 1cm;
}

.list{
    display:flex;
    font-family:Arial, Helvetica, sans-serif; 
    color: white;
    font-size: 0.8cm;
}

.items{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    padding-right: 0.5cm;
    padding-left: 0.5cm;

}

.items:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 1cm;
}

.upperbackground{
    background-image:url(background.jpg);
    background-size: cover;
    text-align: left;
    padding-top: 4cm;
    padding-bottom: 4cm;
    padding-left: 1cm;
}

.h2{
    color:white;
    font-size: 1.5cm;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.h1{
    color:white;
    font-size: 2cm;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1cm;
}

.btn{
    background-color: white;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    border-width: 0.15cm;
    font-size: 1cm;
    border-color: darkviolet;
    border-radius: 1cm;
}

.btn:hover{
    cursor: pointer;
    background-color: darkviolet;
    color:white;
}

.lowerbackground{
    display: flex;
    background-color: darkviolet;
    justify-content:space-evenly;
}

.box{
    background-color: rgb(63, 63, 63);
    border-radius:1cm;
    padding:0.5cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: -2cm;
    margin-bottom:1cm;
    text-align: center;
}

.pic{
    width: 3cm;
    height: 2cm;
}

.h3{
    font-family: cursive;
    color:rgb(255, 0, 255);
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 0.2cm;
    padding-top:0.2cm;
}

.p{  
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

@media screen and (max-width: 1222px){
    .nav{
         display: flex;
         flex-direction: column;
         padding-bottom: 0.5cm;
         padding-top:0.5cm;
    }
     
    .list{
        display: flex;
        justify-content: space-evenly;
        padding-top:0.5cm;
        font-size: 0.8cm;
    }

    .company{
        font-size: 1cm;
        text-align: center;
    }

    .items{
        margin-left: 0.2cm;
        margin-right: 0.2cm;
        padding-right: 0.2cm;
        padding-left: 0.2cm;
    }
    
    .upperbackground{
         text-align: center;
         padding-left: 0cm;
         padding-top: 3cm;
         padding-bottom: 3cm;
    }

    .h2{
        font-size: 1cm;
    }
    
    .h1{
        font-size: 1.5cm;
        letter-spacing: normal;
    }
    
    .btn{
        font-size: 0.8cm;
    }

    .box{
        background-color: rgb(63, 63, 63);
        border-radius:1cm;
        padding:0.5cm;
        margin-left: 0.5cm;
        margin-right: 0.5cm;
        margin-top: -2cm;
        margin-bottom:1cm;
    }
}

@media screen and (max-width: 700px){
    .nav{
         display: flex;
         flex-direction: column;
         padding-bottom: 0.2cm;
         padding-top:0.2cm;
    }
     
    .list{
        display: flex;
        justify-content: space-evenly;
        padding-top:0.2cm;
        font-size: 0.5cm;
    }

    .company{
        padding-left: 0cm;
        font-size: 0.7cm;
        text-align: center;
    }

    .items{
        margin-left: 0.05cm;
        margin-right: 0.05cm;
        padding-right: 0.05cm;
        padding-left: 0.05cm;
    }
    
    .upperbackground{
         text-align: center;
         padding-left: 0cm;
         padding-top: 2cm;
         padding-bottom: 2cm;
    }

    .h2{
        font-size: 0.8cm;
    }
    
    .h1{
        font-size: 1cm;
        letter-spacing: normal;
    }
    
    .btn{
        font-size: 0.7cm;
    }
    
    .lowerbackground{
        display: flex;
        flex-direction: column;
    }
    
    .box{
        margin-top: 0.2cm;
        margin-bottom: o.2cm;
        margin-left: 1cm;
        margin-right: 1cm;
    }
}

